<li class="project span3">
  <article class="thumbnail">
                <!--<%= gravatar_for project.user, size: 200 %> -->
                <img class="gravatar" src="http://jazcollection.com/images/demo/x403.116.jpg">
                
                 <div class="clear" />
                <h4><%= link_to project.title, project %> <% if !current_user.nil? && current_user.admin? %>
    |  <%= link_to "delete", project, method: :delete, data: { confirm: "You sure?" } %>
    <% end %> </h4>
                <h5><%= project.description %></h5>
                <h6><i class="icon-globe"></i><%= project.location %></h6>
                <ul>
                  <h6>Start: <%= project.start %> </h6>
                  <h6>End: <%= project.end %> </h6>
                  <h6>Goal: <%= project.goal %> </h6>
                  <h6>Pledged: <%= project.pledged %></h6>
                  <h6>Backers: <%= project.backers %></h6>
                </ul>
              </article>
</li>