<% provide(:title, @project.title) %>

    	<img class="gravatar" src="http://jazcollection.com/images/demo/x403.116.jpg">

      <h1>
        <%= @project.title %>
      </h1>
      <h2>
        <%= @project.description %>
      </h2>
      <h6><i class="icon-globe"></i><%= @project.location %></h6>
                <ul>
                  <h6>Start: <%= @project.start %> </h6>
                  <h6>End: <%= @project.end %> </h6>
                  <h6>Goal: <%= @project.goal %> </h6>
                  <h6>Pledged: <%= @project.pledged %></h6>
                  <h6>Backers: <%= @project.backers %></h6>
                </ul>
